auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
4clojure-place.txt
projectile-bookmarks.eld
projectile.cache
ac-comphist.dat
#*
*#
smex-items
ido.*
transient
network-security.data